/* =========================== Product Css Start ========================== */
.product-item {
    border-radius: 8px;
    background-color: hsl(var(--white));
    overflow: hidden;
    transition: 0.2s linear;
}

@media (min-width: 424px) and (max-width: 575px) {
    .product-item {
        display: flex;
    }
}

.product-item.overlay-none .product-item__thumb::before {
    display: none;
}

.product-item:hover {
    box-shadow: 0px 20px 30px 0px rgba(197, 196, 201, 0.25);
}

.product-item:hover .product-item__thumb::before {
    height: 100%;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.product-item:hover .product-item__thumb img {
    transform: scale(1.1);
}

.product-item__thumb {
    margin: 8px;
    border-radius: inherit;
    overflow: hidden;
    padding-bottom: 0;
    position: relative;
}

@media (min-width: 575px) {
    .product-item__thumb {
        max-height: 156px;
    }
}

.product-item__thumb::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0%;
    left: 0;
    bottom: 0;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 4, 37, 0.5) 69.5%, rgba(0, 4, 37, 0.5) 100%);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s linear;
}

.product-item__thumb img {
    transition: 0.2s linear;
}

.product-item__wishlist {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: hsl(var(--white)/0.5);
    backdrop-filter: blur(5px);
    color: hsl(var(--black));
    z-index: 2;
    transition: 0.2s linear;
}

.product-item__wishlist:active {
    transform: scale(1.15);
}

.product-item__wishlist.style-two {
    position: relative;
    top: 0;
    right: 0;
    background-color: hsl(var(--section-bg));
    width: 32px;
    height: 32px;
    font-size: 0.75rem;
}

.product-item__wishlist.style-two:hover {
    background-color: hsl(var(--black));
    color: hsl(var(--white));
}

.product-item__wishlist:hover {
    background-color: hsl(var(--white));
}

.product-item__wishlist.active {
    background-color: hsl(var(--black));
    color: hsl(var(--white));
}

.product-item__content {
    padding: 24px 16px;
    padding-top: 16px;
}

.product-item__title {
    margin-bottom: 8px;
    text-transform: capitalize;
    font-weight: 600;
}

.product-item__title .link {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-item__author {
    font-size: 0.875rem;
    font-weight: 400;
    color: hsl(var(--black-three));
}

.product-item__author .link {
    color: inherit;
}

.product-item__prevPrice {
    font-size: 0.875rem;
    font-weight: 400;
    color: hsl(var(--gray-three));
}

.product-item__bottom {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid hsl(var(--gray-five));
}

@media screen and (max-width: 767px) {
    .product-item__bottom {
        margin-top: 8px;
        padding-top: 8px;
    }
}

.download-icon:hover .icon .dark-version {
    display: block !important;
}

.download-icon:hover .icon .white-version {
    display: none !important;
}

/* Author Css Start */
.author-info__thumb {
    width: 114px;
    height: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: hsl(var(--white));
    position: relative;
    z-index: 1;
}

.author-info__thumb::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(var(--section-bg));
    z-index: -1;
    border-radius: inherit;
}

/* Author Css End */
/* =========================== Product Css End ========================== */
/* ======================= Featured Products Css Start =============================== */
@media (min-width: 576px) {
    .card-wrapper {
        margin-bottom: 56px;
    }
}

@media (min-width: 576px) {
    .card-wrapper div[class*=col]:nth-child(even) .product-item {
        transform: translateY(56px);
    }
}
/* ======================= Featured Products Css End =============================== */
/* ======================= Selling Products css Start ========================= */
.selling-product::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 62%;
    background-color: hsl(var(--black));
    left: 0;
    top: 0;
    z-index: -1;
}

@media (min-width: 575px) {
    .selling-product .bg--gradient, .selling-product .bg-pattern {
        top: 0;
        transform: unset;
        height: 62%;
    }
}

.selling-product .slick-arrow {
    top: 56%;
}

/* ======================= Selling Products css End ========================= */
