/* ================================= Typography Css Start =========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: hsl(var(--body-color));
    word-break: break-word;
    background-color: hsl(var(--body-bg));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 0.9375rem;
    }
}

@media screen and (max-width: 575px) {
    body {
        font-size: 0.875rem;
    }
}

p {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    line-height: 1.6;
}

span {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 16px 0;
    font-family: var(--heading-font);
    color: hsl(var(--heading-color));
    line-height: 1.2;
    font-weight: 700;
}

h1 {
    font-size: var(--heading-one);
}

h2 {
    font-size: var(--heading-two);
}

h3 {
    font-size: var(--heading-three);
}

h4 {
    font-size: var(--heading-four);
}

h5 {
    font-size: var(--heading-five);
}

h6 {
    font-size: var(--heading-six);
    font-weight: 800;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    transition: 0.2s linear;
    line-height: inherit;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
    color: hsl(var(--main));
}

a {
    display: inline-block;
    transition: 0.2s linear;
    text-decoration: none;
    color: #0661e9;
}

a:hover {
    color: #1d72f2;
}

img {
    max-width: 100%;
    height: auto;
}

select {
    cursor: pointer;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    border: 0;
    background-color: transparent;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.form-select:focus {
    outline: 0;
    box-shadow: none;
}

/* ================================= Typography Css End =========================== */
