/* ======================= Blog Details Section Start ========================= */
.blog-details::before, .blog-details::after {
    position: absolute;
    content: "";
    width: 573px;
    height: 355px;
    background: linear-gradient(152deg, rgba(246, 246, 246, 0.2) 17.12%, rgba(5, 228, 242, 0.2) 105.91%);
    filter: blur(100px);
    left: 24px;
    top: 0;
    z-index: -1;
}

.blog-details::after {
    background: linear-gradient(152deg, rgba(246, 246, 246, 0.2) 17.12%, rgba(94, 53, 242, 0.2) 105.91%);
    left: auto;
    right: 40px;
}

/* blog details top Start */
.blog-details-top {
    max-width: 1040px;
}

.blog-details-top__desc {
    max-width: 746px;
}

.blog-details-top__thumb img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

/* blog details top End */
/* blog details content Start */
.blog-details-content__thumb {
    border-radius: 16px;
    overflow: hidden;
    height: 100%;
    max-height: 460px;
}

.blog-details-content__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quote-text {
    padding: 0 8px;
    padding-right: 24px;
    border-left: 4px solid hsl(var(--main));
    position: relative;
}

.quote-text__icon {
    position: absolute;
    right: 0;
    top: 0;
}

.post-tag__link {
    padding: 5px 12px;
    background-color: hsl(var(--section-bg));
}

.post-tag__link:hover {
    color: hsl(var(--static-white)) !important;
    background-color: hsl(var(--main));
}

/* blog details content End */
/* Advisor Start */
.advisor {
    border-radius: 8px;
}

.advisor__thumb {
    width: clamp(3.75rem, 0.707rem + 6.339vw, 6.25rem);
    height: clamp(3.75rem, 0.707rem + 6.339vw, 6.25rem);
    border-radius: 50%;
    overflow: hidden;
}

/* Advisor End */
/* ======================= Blog Details Section End ========================= */
/* ======================= Contact Page Css Start ============================= */
.contact-info__item-wrapper {
    padding-top: clamp(1.5rem, 0.891rem + 1.268vw, 2rem) !important;
    margin-top: clamp(1.5rem, 0.891rem + 1.268vw, 2rem) !important;
    border-top: 1px solid hsl(var(--gray-five));
}

/* ======================= Contact Page Css End ============================= */
