/* ===================== Profile Section Start ============================== */
@media screen and (max-width: 1199px) {
    .profile .common-tab {
        width: 100%;
    }

    .profile .search-box.style-three {
        order: -1;
    }
}

@media screen and (max-width: 1199px) and (max-width: 575px) {
    .profile .search-box.style-three {
        width: 100%;
        max-width: unset;
    }
}

.profile-wrapper {
    display: flex;
    align-items: start;
    gap: 32px;
    overflow: hidden;
}

@media screen and (max-width: 991px) {
    .profile-wrapper {
        flex-direction: column;
    }
}

.profile-content {
    width: 100%;
}

@media (min-width: 992px) {
    .profile-content {
        width: 68%;
    }
}

.profile-content__item {
    margin-bottom: 32px;
    border-radius: 8px;
}

.profile-content__item:last-child {
    margin-bottom: 0;
}

.follower-item__item .link {
    border-radius: 8px;
}

/* profile sidebar Css Start */
.profile-sidebar {
    flex-grow: 1;
    width: 100%;
}

@media (min-width: 992px) {
    .profile-sidebar {
        max-width: 478px;
    }
}

.profile-sidebar__title {
    margin-bottom: 32px;
    padding-bottom: 32px;
    position: relative;
}

.profile-sidebar__title::before {
    position: absolute;
    content: "";
    width: calc(100% + 64px);
    height: 1px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-top: 1px solid hsl(var(--gray-five));
}

.profile-sidebar__item {
    background-color: hsl(var(--section-bg));
    padding: 32px;
    margin-bottom: 24px;
    border-radius: 8px;
}

.profile-sidebar__item:last-child {
    margin-bottom: 0;
}

.profile-sidebar__author {
    padding-top: 32px;
    margin-top: 32px;
    position: relative;
}

.profile-sidebar__author::before {
    position: absolute;
    content: "";
    width: calc(100% + 64px);
    height: 1px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border-top: 1px solid hsl(var(--gray-five));
}

/* profile sidebar Css End */
/* ===================== Profile Section End ============================== */
/* ======================== Follow Css Start ============================== */
.follow-wrapper {
    background-color: hsl(var(--section-bg));
    padding: 24px 16px;
    border-radius: 8px;
    overflow-x: auto;
}

.notification {
    background: var(--main-gradient);
    padding: 3px 5px;
    line-height: 1;
    border-radius: 50px;
    color: hsl(var(--static-white));
    font-size: 11px;
    font-weight: 500;
    margin-left: 4px;
    min-width: 17px;
}

.follow-item {
    position: relative;
    padding-bottom: 22px;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    min-width: max-content;
}

.follow-item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.follow-item:last-child::before {
    display: none;
}

.follow-item::before {
    position: absolute;
    content: "";
    width: calc(100% + 32px);
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: hsl(var(--gray-five));
}

.follow-item__meta {
    min-width: max-content;
    max-width: 177px;
}

.follow-item__sales {
    min-width: max-content;
}

.follow-item__author {
    max-width: 316px;
}

/* ======================== Follow Css End ============================== */
/* ========================= Setting Css Start ======================== */
.setting-sidebar {
    background-color: hsl(var(--section-bg));
    padding: 24px;
    border-radius: 16px;
    position: sticky;
    top: 120px;
}

.setting-sidebar.top-24 {
    top: 24px;
}

.setting-sidebar-list__link {
    width: 100%;
    padding: 10px 16px;
    border-radius: 8px;
    color: hsl(var(--body-color));
}

.setting-sidebar-list__link:hover, .setting-sidebar-list__link.active {
    background-color: hsl(var(--main));
    color: hsl(var(--static-white));
}

/* ========================= Setting Css End ======================== */
/* ========================== Hidden Item Css Start =========================== */
.product-reject__wrapper > div {
    margin-bottom: 24px;
}

.product-reject__wrapper > div:last-child {
    margin-bottom: 0;
}

.product-reviewer__thumb {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
}

.product-reject-info {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid hsl(var(--gray-five));
}

.product-reject-info__thumb {
    width: 72px;
    height: 72px;
    border-radius: 8px;
    overflow: hidden;
}

.response-list__item {
    margin-bottom: 32px;
}

.response-list__item:last-child {
    margin-bottom: 0;
}

/* ========================== Hidden Item Css End =========================== */
