{% load static %}
<!-- Jquery js -->
<script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
<!-- Bootstrap Bundle Js -->
<script src="{% static 'assets/js/boostrap.bundle.min.js' %}"></script>
<!-- CountDown -->
<script src="{% static 'assets/js/countdown.js' %}"></script>
<!-- counter up -->
<script src="{% static 'assets/js/counterup.min.js' %}"></script>
<!-- Slick js -->
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
<!-- apex chart -->
<script src="{% static 'assets/js/apexchart.js' %}"></script>
<!-- marquee -->
<script src="{% static 'assets/js/marquee.min.js' %}"></script>

<!-- main js -->
<script src="{% static 'assets/js/main.js' %}"></script>
