/* ================= Common Card Css Start ========================= */
.common-card {
    border: 0;
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    background-color: hsl(var(--white));
}

.common-card .card-header, .common-card .card-footer {
    padding: 12px 24px;
    background-color: transparent;
    border-bottom: 1px solid hsl(var(--border-color));
}

@media screen and (max-width: 424px) {
    .common-card .card-header, .common-card .card-footer {
        padding: 12px 16px;
    }
}

.common-card .card-header {
    background-color: hsl(var(--black));
}

.common-card .card-header .title {
    color: hsl(var(--static-white));
    margin-bottom: 0;
}

.common-card .card-body {
    padding: 24px;
}

@media screen and (max-width: 424px) {
    .common-card .card-body {
        padding: 16px;
    }
}

.common-card .card-footer {
    border-top: 1px solid hsl(var(--border-color));
    border-bottom: 0;
}

/* ================= Common Card Css End ========================= */
