/* ======================= Common Table Css Start ======================= */
.table {
    color: hsl(var(--white));
    margin-bottom: 0;
    min-width: max-content;
    border-collapse: separate;
    border-spacing: 0 24px;
  /* Style Two */
}

.table > :not(caption) > * > * {
    border-bottom: 0;
}

.table tr th {
    padding-left: 0;
    padding: 20px 16px;
    color: hsl(var(--heading-color));
    background-color: hsl(var(--section-bg));
}

.table tr th:not(:last-child) {
    border-radius: 0;
}

.table tr th:not(:first-child) {
    border-radius: 0;
}

.table tr th:first-child {
    border-radius: 8px 0 0 8px;
}

.table tr th:last-child {
    border-radius: 0 8px 8px 0;
}

.table tr th, .table tr td {
    text-align: center;
    vertical-align: middle;
}

.table tr th:first-child, .table tr td:first-child {
    text-align: left;
}

.table tr th:last-child, .table tr td:last-child {
    text-align: right;
}

.table thead tr {
    border-bottom: 1px solid hsl(var(--white)/0.2);
}

.table thead tr th {
    font-size: clamp(1rem, 0.848rem + 0.317vw, 1.125rem);
    font-weight: 500;
}

.table tbody tr {
    border-bottom: 1px solid hsl(var(--white)/0.2);
}

.table tbody tr:last-child {
    border-bottom: 0;
}

.table tbody tr td {
    font-size: clamp(0.875rem, 0.723rem + 0.317vw, 1rem);
    font-weight: 400;
    padding: 16px;
    border: 1px solid hsl(var(--gray-five));
}

.table tbody tr td:not(:last-child) {
    border-right: 0;
}

.table tbody tr td:not(:first-child) {
    border-left: 0;
}

.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

.table.style-two {
    color: hsl(var(--body-color));
    border-spacing: 0px;
    background-color: hsl(var(--white));
    border: 1px solid hsl(var(--gray-five));
    border-radius: 16px;
    overflow: hidden;
}

.table.style-two thead tr {
    border: 0;
}

.table.style-two thead tr th {
    border-bottom: 1px solid hsl(var(--gray-five));
    border-radius: 0;
    padding: 24px;
    font-weight: 700;
    font-family: var(--heading-font);
    background-color: hsl(var(--white));
}

.table.style-two tbody tr:last-child td {
    border-bottom: 0;
}

.table.style-two tbody tr td {
    border-radius: 0 !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: dashed;
}

/* ======================= Common Table Css End ======================= */
