/* ================================= Comment Css Start =========================== */
.comment-list--two {
    margin-left: clamp(1.5rem, -4.281rem + 12.044vw, 6.25rem);
}

.comment-list__item {
    padding: 24px;
    border: 1px solid hsl(var(--white-one));
    border-radius: 8px;
    margin-bottom: 16px;
}

@media screen and (max-width: 424px) {
    .comment-list__item {
        flex-direction: column;
        padding: 24px 16px;
    }
}

.comment-list__item:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 424px) {
    .comment-list__date {
        font-size: 12px !important;
    }
}

.comment-list__reply {
    font-size: 0.9375rem;
}

@media screen and (max-width: 424px) {
    .comment-list__reply {
        font-size: 0.875rem;
    }
}

.comment-list__thumb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

@media screen and (max-width: 991px) {
    .comment-list__thumb {
        width: 60px;
        height: 60px;
    }
}
/* ================================= Comment Css End =========================== */
