/* ============= Footer Start Here ======================= */
/* Text Slider Css Start */
.text-slider-section {
    padding: 40px 0;
    border-bottom: 1px solid hsl(var(--white-one)/0.2);
}

.text-slider .js-marquee {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-slider__item {
    font-size: clamp(1rem, -0.674rem + 3.487vw, 2.375rem);
    color: hsl(var(--black-three));
    text-transform: capitalize;
    transition: 0.2s linear;
}

.text-slider__item:hover {
    color: hsl(var(--static-white));
}

.footer-three {
    background-color: hsl(var(--black-two));
}

.footer-three .footer-inner {
    padding: 80px 0;
    background-color: #0b0e2a !important;
}

.footer-section {
    margin-top: auto;
    position: relative;
    z-index: 1;
    background-image: url(../images/shapes/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 120px 0;
    padding-top: 220px;
    background-color: hsl(var(--white));
}

@media screen and (max-width: 1199px) {
    .footer-section {
        padding: 120px 0;
        background-color: hsl(var(--black)) !important;
        background-image: none;
    }
}

@media screen and (max-width: 991px) {
    .footer-section {
        padding: 80px 0;
    }
}

.footer-inner {
    padding: 80px 0;
}

.footer-widget__desc {
    color: hsl(var(--static-white-one));
    font-size: 1rem;
    font-weight: 300;
    line-height: 170%;
}

.footer-widget__logo {
    margin-bottom: 32px;
}

@media screen and (max-width: 991px) {
    .footer-widget__logo {
        margin-bottom: 24px;
    }
}

.footer-widget__logo a img {
    width: 100%;
    height: 100%;
    max-width: 240px;
    max-height: 64px;
}

.footer-widget__social {
    margin-top: 32px;
}

@media screen and (max-width: 991px) {
    .footer-widget__social {
        margin-top: 24px;
    }
}

.footer-widget__title {
    margin-bottom: 24px;
}

/* Footer List Item */
.footer-lists {
    display: flex;
    flex-direction: column;
}

.footer-lists__item {
    display: block;
    padding-bottom: 10px;
}

.footer-lists__item:last-child {
    padding-bottom: 0;
}

.footer-lists__link {
    position: relative;
    color: hsl(var(--static-white-one));
    padding-left: 22px;
}

.footer-lists__link::before {
    position: absolute;
    content: "\f105";
    font-family: "Line Awesome Free";
    font-weight: 900;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.875rem;
    transition: 0.2s linear;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
}

.footer-lists__link:hover {
    color: hsl(var(--static-white));
}

.footer-lists__link:hover::before {
    left: 4px;
}

/* ============= Footer End Here ======================= */
/* ============= Bottom Footer End Here ======================= */
.bottom-footer {
    background-color: hsl(var(--black-two));
}

.bottom-footer__inner {
    padding: 24px 0;
}

@media screen and (max-width: 991px) {
    .bottom-footer__inner {
        padding: 16px 0;
    }
}

.bottom-footer__text, .footer-link {
    color: hsl(var(--static-white-one));
    font-size: 1.125rem;
    font-weight: 200;
}

@media screen and (max-width: 991px) {
    .bottom-footer__text, .footer-link {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .bottom-footer__text, .footer-link {
        font-size: 0.9375rem;
    }
}

.footer-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(0.75rem, -0.163rem + 1.902vw, 1.5rem);
    font-weight: 200;
}

.footer-link:hover {
    color: hsl(var(--white));
    text-decoration: underline;
}

/* =============Bottom Footer End Here ======================= */
/* ==================== Footer Two Css Start Here ==================== */
.footer-two .footer-menu__link {
    color: hsl(var(--black-three));
    font-weight: 400;
}

.footer-two .footer-menu__link:hover {
    color: hsl(var(--main));
}

.footer-two .footer-item__title {
    color: hsl(var(--heading-color));
}

.footer-two .footer-item__desc, .footer-two .footer-lists__link {
    color: hsl(var(--black-three));
}

.footer-two .social-icon-list__link {
    color: hsl(var(--black));
    font-size: 16px;
}

/* Bottom Footer Two */
.bottom-footer-two {
    border-top: 1px solid hsl(var(--gray-five));
}

.bottom-footer-two .bottom-footer__text, .bottom-footer-two .footer-link {
    color: hsl(var(--black-three));
    font-weight: 300;
}

.bottom-footer-two .footer-link {
    color: hsl(var(--black-three));
    font-weight: 400;
}

/* ==================== Footer Two Css End Here ==================== */
