/* ============= Header Start Here ======================= */
.header {
    background-color: hsl(var(--white));
    transition: 0.2s linear;
}

@media screen and (max-width: 991px) {
    .header {
        padding: 10px 0;
    }
}

.header.fixed-header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    backdrop-filter: blur(24px);
    animation: slideDown 0.35s ease-out;
    background-color: hsl(var(--white)/0.9) !important;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 991px) {
    .header.fixed-header {
        top: -1px;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.logo img {
    max-width: 224px;
}

@media screen and (max-width: 767px) {
    .logo img {
        max-width: 160px;
    }
}

@media (max-width: 1199px) {
    .header-right__inner .btn .icon {
        display: none;
    }

    .language-select img {
        display: none;
    }

    .language-select .select {
        padding-left: 0 !important;
    }
}

.header-right {
    gap: 24px;
}

@media screen and (max-width: 1199px) {
    .header-right {
        gap: 16px;
    }
}

.header-right__button {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.header-right__button:hover::before {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.header-right__button::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background-color: hsl(var(--gray-five));
    z-index: -1;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s linear;
}

/* Cart Btn */
.cart-btn {
    padding-right: 8px;
    padding-top: 5px;
}

.qty-badge {
    width: 20px;
    height: 20px;
    background: var(--main-gradient);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(var(--static-white));
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

/* Cart Btn */
/* Language Select */
.language-select {
    border: 1px solid hsl(var(--border-color));
    border-radius: 50px;
    padding: 8px 16px;
}

.language-select::before {
    right: 16px;
}

.language-select select {
    color: hsl(var(--heading-color)) !important;
    padding: 8px 16px;
}

/* Language Select */
.toggle-mobileMenu {
    line-height: 1;
    font-size: 36px;
    color: hsl(var(--heading-color));
}

.contact-number {
    padding-right: clamp(0.75rem, -0.771rem + 3.17vw, 2rem);
    margin-right: clamp(0.75rem, -0.771rem + 3.17vw, 2rem);
    border-right: 1px solid hsl(var(--border-color));
}

@media screen and (max-width: 575px) {
    .contact-number {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 424px) {
    .contact-number {
        display: none !important;
    }
}

.contact-number:hover .text {
    color: hsl(var(--main));
}

@media screen and (max-width: 575px) {
    .contact-number .icon {
        font-size: 15px !important;
    }
}
/* Header Menu and Submenu Css Start */
.nav-menu {
    gap: 24px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .nav-menu {
        gap: 16px;
    }
}

.nav-menu__item.activePage > a {
    color: hsl(var(--main));
}

.nav-menu__item.activePage > a::before {
    color: hsl(var(--main));
}

.nav-menu__item:hover > a {
    color: hsl(var(--heading-color));
}

@media (min-width: 992px) {
    .nav-menu__item:hover > a {
        color: hsl(var(--main));
    }
}

.nav-menu__link {
    color: hsl(var(--heading-color));
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    padding: 38px 0;
    width: 100%;
}

@media screen and (max-width: 1199px) {
    .nav-menu__link {
        font-size: 0.875rem;
    }
}

.has-submenu {
    position: relative;
}

.has-submenu .nav-menu__link {
    padding-right: 16px;
}

.has-submenu.active > a, .has-submenu.active > a::before {
    color: hsl(var(--main));
}

.has-submenu.active > a::before {
    transform: translateY(-50%) rotate(180deg) !important;
}

.has-submenu:hover .nav-submenu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

@media (min-width: 992px) {
    .has-submenu:hover > a::before {
        color: hsl(var(--main));
        transform: translateY(-50%) rotate(180deg);
    }
}

.has-submenu > a {
    position: relative;
}

.has-submenu > a::before {
    position: absolute;
    content: "\f107";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.625rem;
    color: hsl(var(--heading-color)/0.4);
    transition: 0.2s linear;
}

/* Submenu Start */
.nav-submenu {
    position: absolute;
    left: 0;
    top: 100%;
    width: max-content;
    background-color: hsl(var(--white));
    border-radius: 6px;
    min-width: 190px;
    overflow: hidden;
    padding: 8px;
    box-shadow: var(--box-shadow);
    visibility: hidden;
    opacity: 0;
    margin-top: 16px;
    transition: 0.2s linear;
    z-index: 99;
}

@media (min-width: 992px) {
    .nav-submenu {
        max-height: 400px;
        overflow-y: auto;
    }
}

.nav-submenu::-webkit-scrollbar {
    width: 6px;
}

.nav-submenu::-webkit-scrollbar-track {
    background: #e4e4e4;
}

.nav-submenu::-webkit-scrollbar-thumb {
    background: #a2a2a2;
    border-radius: 50px;
}

.nav-submenu::-webkit-scrollbar-thumb:hover {
    background: #6d6d6d;
}

.nav-submenu__item {
    display: block;
    border-radius: 4px;
    transition: 0.2s linear;
    position: relative;
}

.nav-submenu__item.activePage .nav-submenu__link {
    color: hsl(var(--main));
}

.nav-submenu__item.activePage::before {
    visibility: visible;
    opacity: 1;
}

.nav-submenu__item.activePage a {
    margin-left: 10px;
}

.nav-submenu__item::before {
    position: absolute;
    content: "\f101";
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.625rem;
    color: hsl(var(--main));
    visibility: hidden;
    opacity: 0;
    transition: inherit;
}

.nav-submenu__item:hover {
    background-color: var(--gray-200);
}

.nav-submenu__item:hover::before {
    visibility: visible;
    opacity: 1;
}

.nav-submenu__item:hover a {
    margin-left: 10px;
    color: hsl(var(--heading-color));
}

.nav-submenu__link {
    color: hsl(var(--heading-color));
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    padding-right: 16px;
    width: 100%;
    display: block;
    padding: 8px 14px;
    border-radius: inherit;
}

.nav-submenu__link::before {
    position: absolute;
}

.nav-submenu__link:hover {
    color: hsl(var(--main)) !important;
}

/* Submenu End */
/* Header Menu and Submenu Css End */
/* ================================= Header Css End =========================== */
