/* ============================ Sale Offer Css Start =========================== */
.sale-offer {
    background: linear-gradient(117deg, #FEF0F8 14.35%, #DACFFF 84.4%);
    padding: 8px 0;
}

.sale-offer__content {
    gap: 16px;
}

@media screen and (max-width: 424px) {
    .sale-offer__content {
        gap: 8px;
    }
}

.sale-offer__text {
    font-size: clamp(0.6875rem, 0.459rem + 0.475vw, 0.875rem);
}

.sale-offer__qty {
    font-size: clamp(0.75rem, 0.294rem + 0.951vw, 1.125rem);
}

.sale-offer__button {
    width: 32px;
}

.sale-offer__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 1;
    transition: 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 424px) {
    .sale-offer__close {
        width: 28px;
        height: 28px;
    }
}

.sale-offer__close:hover {
    color: hsl(var(--main));
}

.sale-offer__close:hover::before {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.sale-offer__close::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: hsl(var(--main)/0.2);
    z-index: -1;
    border-radius: inherit;
    transition: 0.2s linear;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
}

.countdown {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 424px) {
    .countdown {
        gap: 10px;
    }
}

.countdown > div {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-direction: row-reverse;
}

.countdown span {
    font-weight: 500;
    color: hsl(var(--heading-color));
    font-size: 14px;
}

/* ============================ Sale Offer Css End =========================== */
