/* ====================== Section Heading ==================== */
.section-heading {
    text-align: center;
    margin-bottom: clamp(2rem, 0.783rem + 2.536vw, 3rem);
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
}

.section-heading__title {
    position: relative;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.section-heading__desc {
    margin-top: clamp(1rem, -0.217rem + 2.536vw, 2rem);
    font-size: clamp(1rem, 0.848rem + 0.317vw, 1.125rem);
    max-width: 634px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.section-heading__desc:last-child {
    margin-bottom: 0;
}

.section-heading__desc.w-sm {
    max-width: 465px;
}

.section-heading.style-left {
    text-align: left;
    margin-left: 0;
}

.section-heading.style-left .section-heading__desc {
    margin-left: 0;
}

.section-heading.style-white .section-heading__title {
    color: hsl(var(--static-white));
}

.section-heading.style-white .section-heading__desc {
    color: #bdbecc;
    font-weight: 300;
}

.section-heading.style-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: unset;
    align-items: center;
}

.section-heading.style-flex .section-heading__inner {
    max-width: 410px;
}

.section-heading.style-flex .section-heading__inner.w-lg {
    max-width: 636px;
}

.section-heading.style-three .section-heading__subtitle {
    text-transform: capitalize;
    padding: 8px 16px;
    background-color: hsl(var(--white));
    color: hsl(var(--main));
    font-size: clamp(0.9375rem, 0.785rem + 0.317vw, 1.0625rem);
    border-radius: 50px;
    margin-bottom: 16px;
}

/* ====================== Section Heading En d==================== */
