/* ================= Slick Arrow & Dots css Start ================ */
.slick-initialized.slick-slider .slick-track {
    display: flex;
}

.slick-initialized.slick-slider .slick-slide {
    cursor: grab;
    height: auto;
    margin: 0 10px;
}

.slick-initialized.slick-slider .slick-slide > div {
    height: 100%;
}

/* Arrow Small size */
.arrow-sm .slick-arrow {
    width: 32px;
    height: 32px;
    border: 1px solid hsl(var(--white-one));
    box-shadow: 0px 20px 30px rgba(197, 196, 201, 0.25);
    font-size: 1.125rem;
}

.arrow-sm .slick-arrow:hover {
    border-color: hsl(var(--main));
}

/* Slick Slider Arrow */
.slick-arrow {
    position: absolute;
    z-index: 1;
    border: none;
    background-color: transparent;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s linear;
    bottom: clamp(1.5rem, -1.239rem + 5.705vw, 3.75rem);
    left: clamp(1.5rem, -1.239rem + 5.705vw, 3.75rem);
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    background-color: hsl(var(--white));
    color: hsl(var(--heading-color));
    box-shadow: 0px 20px 30px 0px rgba(197, 196, 201, 0.25);
    font-size: 1.5rem;
    left: -24px;
}

@media screen and (max-width: 575px) {
    .slick-arrow {
        left: -10px;
    }
}

.slick-arrow:hover {
    background-color: hsl(var(--main));
    color: hsl(var(--white));
}

.slick-next {
    right: -24px;
    left: auto;
}

@media screen and (max-width: 575px) {
    .slick-next {
        right: -10px;
    }
}
/* Dots Css Start */
.slick-dots {
    text-align: center;
    margin-top: clamp(1.5rem, -1.239rem + 5.705vw, 3.75rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 1199px) {
    .slick-dots {
        gap: 8px;
    }
}

.slick-dots li {
    display: inline-block;
}

.slick-dots li button {
    border: none;
    background-color: transparent;
    color: hsl(var(--white));
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-indent: -9999px;
    transition: 0.3s linear;
    border: 1px solid hsl(var(--black));
}

.slick-dots li.slick-active button {
    background-color: hsl(var(--black));
}

/* Dots Css End */
/* ================= Slick Arrow & Dots css Start ================ */
