{% load static %}
<!-- =========================== Article Section Start ============================ -->
<section class="article padding-y-120 ">
    <div class="container container-two">
        <div class="section-heading style-left style-flex flx-between align-items-end gap-3">
            <div class="section-heading__inner">
                <h3 class="section-heading__title">Browse all latest blogs and articles</h3>
            </div>
            <a href="#"  {# TODO: Update with blog URL #} class="btn btn-outline-light btn-lg pill">Browse All Articles</a>
        </div>
        <div class="article-item-wrapper">
            <div class="article-item">
                <div class="article-item__inner d-flex position-relative">
                    <div class="article-item__start">
                        <div class="user-info">
                            <div class="user-info__thumb">
                                <img src="{% static 'assets/images/thumbs/user-info-img1.png' %}" alt="">
                            </div>
                            <span class="user-info__text mt-2 mb-1 font-14 text-heading">Posted by</span>
                            <h6 class="user-info__name font-16 font-body fw-600 mb-0">
                                Ralph Edwards
                            </h6>
                        </div>
                    </div>
                    <div class="article-item__center d-flex align-items-center">
                        <div class="article-item__content">
                            <div class="article-item__top flx-align">
                                <a href="#"  {# TODO: Update with blog URL #} class="article-item__tag font-14">Startup</a>
                                <a href="#"  {# TODO: Update with blog URL #} class="article-item__tag font-14">Marketing</a>
                                <span class="text-heading font-16 fw-500">June 24, 2024</span>
                            </div>
                            <h4 class="article-item__title mb-3">
                                <a href="blog-details.html" class="link"> Data-Driven Insights Unlock The Hidden
                                    Potential</a>
                            </h4>
                            <p class="article-item__desc">Etiam id euismod odio. Ut euismod sem a lacus ringill a
                                hendrerit. facilisi orbi a arcu turpis...</p>
                        </div>

                        <div class="article-item__thumb">
                            <img src="{% static 'assets/images/thumbs/blog1.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="article-item__end flex-shrink-0">
                    <a href="blog-details.html" class="btn-simple">Read More <span class="icon font-26"><i
                                class="las la-arrow-right"></i></span> </a>
                </div>
            </div>
            <div class="article-item">
                <div class="article-item__inner d-flex position-relative">
                    <div class="article-item__start">
                        <div class="user-info">
                            <div class="user-info__thumb">
                                <img src="{% static 'assets/images/thumbs/user-info-img2.png' %}" alt="">
                            </div>
                            <span class="user-info__text mt-2 mb-1 font-14 text-heading">Posted by</span>
                            <h6 class="user-info__name font-16 font-body fw-600 mb-0">
                                Jacob Jones
                            </h6>
                        </div>
                    </div>
                    <div class="article-item__center d-flex align-items-center">
                        <div class="article-item__content">
                            <div class="article-item__top flx-align">
                                <a href="#"  {# TODO: Update with blog URL #} class="article-item__tag font-14">Startup</a>
                                <a href="#"  {# TODO: Update with blog URL #} class="article-item__tag font-14">Marketing</a>
                                <span class="text-heading font-16 fw-500">June 24, 2024</span>
                            </div>
                            <h4 class="article-item__title mb-3">
                                <a href="blog-details.html" class="link">we offer best training for individuals and
                                    teams</a>
                            </h4>
                            <p class="article-item__desc">Etiam id euismod odio. Ut euismod sem a lacus ringill a
                                hendrerit. facilisi orbi a arcu turpis...</p>
                        </div>

                        <div class="article-item__thumb">
                            <img src="{% static 'assets/images/thumbs/blog2.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="article-item__end flex-shrink-0">
                    <a href="blog-details.html" class="btn-simple">Read More <span class="icon font-26"><i
                                class="las la-arrow-right"></i></span> </a>
                </div>
            </div>
            <div class="article-item">
                <div class="article-item__inner d-flex position-relative">
                    <div class="article-item__start">
                        <div class="user-info">
                            <div class="user-info__thumb">
                                <img src="{% static 'assets/images/thumbs/user-info-img1.png' %}" alt="">
                            </div>
                            <span class="user-info__text mt-2 mb-1 font-14 text-heading">Posted by</span>
                            <h6 class="user-info__name font-16 font-body fw-600 mb-0">
                                Jenny Wilson
                            </h6>
                        </div>
                    </div>
                    <div class="article-item__center d-flex align-items-center">
                        <div class="article-item__content">
                            <div class="article-item__top flx-align">
                                <a href="#"  {# TODO: Update with blog URL #} class="article-item__tag font-14">Startup</a>
                                <a href="#"  {# TODO: Update with blog URL #} class="article-item__tag font-14">Marketing</a>
                                <span class="text-heading font-16 fw-500">June 24, 2024</span>
                            </div>
                            <h4 class="article-item__title mb-3">
                                <a href="blog-details.html" class="link">The analytics feature is like having a
                                    personal fortune.</a>
                            </h4>
                            <p class="article-item__desc">Etiam id euismod odio. Ut euismod sem a lacus ringill a
                                hendrerit. facilisi orbi a arcu turpis...</p>
                        </div>

                        <div class="article-item__thumb">
                            <img src="{% static 'assets/images/thumbs/blog3.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="article-item__end flex-shrink-0">
                    <a href="blog-details.html" class="btn-simple">Read More <span class="icon font-26"><i
                                class="las la-arrow-right"></i></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Article Section ENd ============================ -->