{% load static %}
<!-- ======================= Become seller Two section start ==================== -->
<section class="seller-two position-relative z-index-1 overflow-hidden">

    <img src="{% static 'assets/images/shapes/spider-net.png' %}" alt=""
        class="spider-net position-absolute bottom-0 end-0 z-index--1 white-version">
    <img src="{% static 'assets/images/shapes/spider-net-dark.html' %}" alt=""
        class="spider-net position-absolute bottom-0 end-0 z-index--1 dark-version">

    <div class="container container-two">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="seller-item position-relative z-index-1">
                    <img src="{% static 'assets/images/shapes/seller-bg.png' %}" class="position-absolute
                start-0 top-0 z-index--1" alt="">
                    <h3 class="seller-item__title">Become a Seller</h3>
                    <p class="seller-item__desc fw-500 text-heading">Sellers receive 75% of the Item Price for items
                        sold exclusively and 50% for items sold non-exclusively. See detailed informationabout the
                        fee structure on Market.</p>
                    <a href="#"  {# TODO: Update with register URL #} class="btn btn-static-outline-black btn-xl pill fw-600">Create Seller
                        Account</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="seller-item bg-three position-relative z-index-1">
                    <img src="{% static 'assets/images/shapes/seller-bg-three.png' %}" class="position-absolute
                start-0 top-0 z-index--1" alt="">
                    <h3 class="seller-item__title">Earn untill 40% commission</h3>
                    <p class="seller-item__desc fw-500 text-heading">Our Market is the world's largest creative
                        market place, selling millions of digital assets every year. With 30% affiliate commission,
                        earning money has never been easier!</p>
                    <a href="#"  {# TODO: Update with register URL #} class="btn btn-static-outline-black btn-xl pill fw-600">Get More
                        Commission</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="support-two position-relative z-index-1 padding-t-60">

                    <div class="row align-items-center">

                        <div class="col-lg-3 col-sm-7">
                            <div class="support-content ps-0">
                                <h3 class="support-content__titleee mb-3">Support 24/7</h3>
                                <p class="support-content__descc mb-3 font-19">Wanna talk? Send us a message</p>
                                <a href="mailto:infomail@office.com"
                                    class="btn btn-main btn-lg fw-300 pill">infomail@office.com</a>
                            </div>
                        </div>

                        <div class="col-lg-5 d-lg-block d-none">
                            <div class="arrow-img h-100 d-flex align-items-end">
                                <img src="{% static 'assets/images/shapes/arrow-shape-two.png' %}" alt="" class="white-version">
                                <img src="{% static 'assets/images/shapes/arrow-shape-two-white.png' %}" alt="" class="dark-version">
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-5 d-sm-block d-none">
                            <div class="support-thumb text-center">
                                <img src="{% static 'assets/images/thumbs/support-img2.png' %}" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Become seller Two section End ==================== -->