{% load static %}
<!-- ======================== Brand Section Start ========================= -->
<div class="brand mt-0">
    <div class="container container">
        <div class="brand-slider">
            <div class="brand-item d-flex align-items-center justify-content-center">
                <img src="{% static 'assets/images/thumbs/brand-img1.png' %}" alt="" class="white-version">
                <img src="{% static 'assets/images/thumbs/brand-white-img1.png' %}" alt="" class="dark-version">
            </div>
            <div class="brand-item d-flex align-items-center justify-content-center">
                <img src="{% static 'assets/images/thumbs/brand-img2.png' %}" alt="" class="white-version">
                <img src="{% static 'assets/images/thumbs/brand-white-img2.png' %}" alt="" class="dark-version">
            </div>
            <div class="brand-item d-flex align-items-center justify-content-center">
                <img src="{% static 'assets/images/thumbs/brand-img3.png' %}" alt="" class="white-version">
                <img src="{% static 'assets/images/thumbs/brand-white-img3.png' %}" alt="" class="dark-version">
            </div>
            <div class="brand-item d-flex align-items-center justify-content-center">
                <img src="{% static 'assets/images/thumbs/brand-img4.png' %}" alt="" class="white-version">
                <img src="{% static 'assets/images/thumbs/brand-white-img4.png' %}" alt="" class="dark-version">
            </div>
            <div class="brand-item d-flex align-items-center justify-content-center">
                <img src="{% static 'assets/images/thumbs/brand-img5.png' %}" alt="" class="white-version">
                <img src="{% static 'assets/images/thumbs/brand-white-img5.png' %}" alt="" class="dark-version">
            </div>
            <div class="brand-item d-flex align-items-center justify-content-center">
                <img src="{% static 'assets/images/thumbs/brand-img3.png' %}" alt="" class="white-version">
                <img src="{% static 'assets/images/thumbs/brand-white-img3.png' %}" alt="" class="dark-version">
            </div>
        </div>
    </div>
</div>
<!-- ======================== Brand Section End ========================= -->