{% load static %}
<!-- =========================== Featured Contributor Section Start ========================== -->
<section class="featured-contributor padding-y-120 position-relative z-index-1 overflow-hidden">

    <img src="{% static 'assets/images/shapes/pattern-curve-3.png' %}" alt="" class="position-absolute start-0 top-0 z-index--1">

    <img src="{% static 'assets/images/shapes/element-moon1.png' %}" alt="" class="element two">
    <img src="{% static 'assets/images/shapes/element1.png' %}" alt="" class="element one">

    <div class="container container-two">
        <div class="row gy-4 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <div class="section-content">
                    <div class="section-heading style-left">
                        <h3 class="section-heading__title">Featured Contributors</h3>
                        <p class="section-heading__desc font-18 w-sm">Who creates useful, qualitful, customer
                            centric digital products</p>
                    </div>
                    <a href="#"  {# TODO: Update with profile URL #} class="btn btn-main btn-lg pill fw-300"> All Contributors </a>
                </div>
            </div>
            <div class="col-xl-2 d-xl-block d-none"></div>
            <div class="col-xl-6 col-lg-7">
                <div class="row gy-4">
                    <div class="col-sm-6 col-xs-6">
                        <div class="contributor-item">
                            <img src="{% static 'assets/images/icons/madel-badge.png' %}" alt="" class="contributor-item__badge">
                            <div class="contributor-item__content">
                                <div class="contributor-info flx-align gap-2">
                                    <div class="contributor-info__thumb">
                                        <img src="{% static 'assets/images/thumbs/contributor-img1.png' %}" alt="">
                                    </div>
                                    <div class="contributor-info__content">
                                        <h6 class="contributor-info__name mb-1 text-white">Amplify</h6>
                                        <span class="contributor-info__text text-white font-14">12558 Sold
                                            Items</span>
                                    </div>
                                </div>
                                <div class="contributor-item__thumb">
                                    <img src="{% static 'assets/images/thumbs/contributor1.png' %}" alt="" class="cover-img">
                                    <a href="#" class="contributor-item__link">
                                        <img src="{% static 'assets/images/icons/link-white.svg' %}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <div class="contributor-item">
                            <img src="{% static 'assets/images/icons/madel-badge.png' %}" alt="" class="contributor-item__badge">
                            <div class="contributor-item__content">
                                <div class="contributor-info flx-align gap-2">
                                    <div class="contributor-info__thumb">
                                        <img src="{% static 'assets/images/thumbs/contributor-img2.png' %}" alt="">
                                    </div>
                                    <div class="contributor-info__content">
                                        <h6 class="contributor-info__name mb-1 text-white">Radiuspoint</h6>
                                        <span class="contributor-info__text text-white font-14">35462 Sold
                                            Items</span>
                                    </div>
                                </div>
                                <div class="contributor-item__thumb">
                                    <img src="{% static 'assets/images/thumbs/contributor2.png' %}" alt="" class="cover-img">
                                    <a href="#" class="contributor-item__link">
                                        <img src="{% static 'assets/images/icons/link-white.svg' %}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <div class="contributor-item">
                            <img src="{% static 'assets/images/icons/madel-badge.png' %}" alt="" class="contributor-item__badge">
                            <div class="contributor-item__content">
                                <div class="contributor-info flx-align gap-2">
                                    <div class="contributor-info__thumb">
                                        <img src="{% static 'assets/images/thumbs/contributor-img3.png' %}" alt="">
                                    </div>
                                    <div class="contributor-info__content">
                                        <h6 class="contributor-info__name mb-1 text-white">Ovious</h6>
                                        <span class="contributor-info__text text-white font-14">2542 Sold
                                            Items</span>
                                    </div>
                                </div>
                                <div class="contributor-item__thumb">
                                    <img src="{% static 'assets/images/thumbs/contributor3.png' %}" alt="" class="cover-img">
                                    <a href="#" class="contributor-item__link">
                                        <img src="{% static 'assets/images/icons/link-white.svg' %}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <div class="contributor-item">
                            <img src="{% static 'assets/images/icons/madel-badge.png' %}" alt="" class="contributor-item__badge">
                            <div class="contributor-item__content">
                                <div class="contributor-info flx-align gap-2">
                                    <div class="contributor-info__thumb">
                                        <img src="{% static 'assets/images/thumbs/contributor-img1.png' %}" alt="">
                                    </div>
                                    <div class="contributor-info__content">
                                        <h6 class="contributor-info__name mb-1 text-white">Themex</h6>
                                        <span class="contributor-info__text text-white font-14">6854 Sold
                                            Items</span>
                                    </div>
                                </div>
                                <div class="contributor-item__thumb">
                                    <img src="{% static 'assets/images/thumbs/contributor1.png' %}" alt="" class="cover-img">
                                    <a href="#" class="contributor-item__link">
                                        <img src="{% static 'assets/images/icons/link-white.svg' %}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Featured Contributor Section End ========================== -->