{% load static %}
<!-- ====================== Newsletter Section Start ===================== -->
<section class="newsletter position-relative z-index-1 overflow-hidden">
    <img src="{% static 'assets/images/gradients/newsletter-gradient-bg.png' %}" alt="" class="bg--gradient">

    <img src="{% static 'assets/images/shapes/element1.png' %}" alt="" class="element two">
    <img src="{% static 'assets/images/shapes/element2.png' %}" alt="" class="element one">

    <img src="{% static 'assets/images/shapes/line-vector-one.png' %}" alt="" class="line-vector one">
    <img src="{% static 'assets/images/shapes/line-vector-two.png' %}" alt="" class="line-vector two">

    <img src="{% static 'assets/images/thumbs/newsletter-man.png' %}" alt="" class="newsletter-man">

    <div class="container container-two">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="newsletter-content">
                    <h3 class="newsletter-content__title text-white mb-2 text-center">Get update Newsletter</h3>
                    <p class="newsletter-content__desc pb-2 text-white text-center font-18 fw-300">Subscribe our
                        newsletter to get the latest news</p>

                    <form action="#" class="mt-4 newsletter-box position-relative">
                        <input type="text" class="form-control common-input common-input--lg pill text-white"
                            placeholder="Enter Mail">
                        <button type="submit" class="btn btn-main btn-lg pill flx-align gap-1">Subscribe <span
                                class="text d-sm-flex d-none">Now</span> </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== Newsletter Section End ===================== -->