{% load static %}
<!-- ========================= Pricing Plan Section Start ============================ -->
<section class="pricing padding-y-120 position-relative z-index-1">
    <img src="{% static 'assets/images/shapes/element1.png' %}" alt="" class="element one">
    <img src="{% static 'assets/images/gradients/pricing-gradient-bg.png' %}" alt="" class="bg--gradient">

    <div class="container container-two">
        <div class="section-heading style-left style-flex flx-between align-items-end gap-3">
            <div class="section-heading__inner w-lg">
                <h3 class="section-heading__title">Our Best Pricing Plan</h3>
                <p class="section-heading__desc">Every month we pick some best products for you. This month's best
                    web themes & templates have arrived, chosen by our content specialists.</p>
            </div>
            <div class="pricing-tabs">
                <ul class="nav tab-gradient nav-pills mb-0" id="pills-tab-pricing" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link pill active" id="pills-monthly-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-monthly" type="button" role="tab" aria-controls="pills-monthly"
                            aria-selected="true">monthly</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link pill" id="pills-yearly-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-yearly" type="button" role="tab" aria-controls="pills-yearly"
                            aria-selected="false">yearly</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content" id="pills-tab-pricingContent">
            <div class="tab-pane fade show active" id="pills-monthly" role="tabpanel"
                aria-labelledby="pills-monthly-tab" tabindex="0">
                <div class="row gy-4">
                    <div class="col-lg-4 col-sm-6">
                        <div class="pricing-item box-shadow-lg hover-bg-main">
                            <img src="{% static 'assets/images/gradients/price-hover-bg.png' %}" alt="" class="hover-bg">
                            <div class="pricing-item__top">
                                <div class="flx-between flex-nowrap">
                                    <span class="pricing-item__icon">
                                        <img src="{% static 'assets/images/icons/price-icon1.svg' %}" alt="">
                                    </span>
                                    <span class="popular-badge d-none"></span>
                                </div>
                                <h5 class="pricing-item__title mb-0 mt-2">Basic Plan</h5>
                            </div>
                            <div class="pricing-item__content">
                                <h3 class="pricing-item__price mb-2"> $1599.00 <span
                                        class="text font-14 text-body font-body fw-400">/Per Month</span> </h3>
                                <p class="pricing-item__desc">Essential services to start your journey</p>
                                <a href="#" class="btn btn-outline-light btn-lg pill w-100">Get Started</a>
                            </div>
                            <div class="pricing-item__lists">
                                <ul class="text-list">
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Up to 30 members
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Collaboration
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Project management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Case management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Process management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Workflow management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Team management
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="pricing-item box-shadow-lg hover-bg-main">
                            <img src="{% static 'assets/images/gradients/price-hover-bg.png' %}" alt="" class="hover-bg">
                            <div class="pricing-item__top">
                                <div class="flx-between flex-nowrap">
                                    <span class="pricing-item__icon">
                                        <img src="{% static 'assets/images/icons/price-icon2.svg' %}" alt="">
                                    </span>
                                    <span class="popular-badge ">Most Popular</span>
                                </div>
                                <h5 class="pricing-item__title mb-0 mt-2">Standard Plan</h5>
                            </div>
                            <div class="pricing-item__content">
                                <h3 class="pricing-item__price mb-2"> $1799.00 <span
                                        class="text font-14 text-body font-body fw-400">/Per Month</span> </h3>
                                <p class="pricing-item__desc">Essential services to start your journey</p>
                                <a href="#" class="btn btn-outline-light btn-lg pill w-100">Get Started</a>
                            </div>
                            <div class="pricing-item__lists">
                                <ul class="text-list">
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Up to 30 members
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Collaboration
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Project management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Case management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Process management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Workflow management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Team management
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="pricing-item box-shadow-lg hover-bg-main">
                            <img src="{% static 'assets/images/gradients/price-hover-bg.png' %}" alt="" class="hover-bg">
                            <div class="pricing-item__top">
                                <div class="flx-between flex-nowrap">
                                    <span class="pricing-item__icon">
                                        <img src="{% static 'assets/images/icons/price-icon3.svg' %}" alt="">
                                    </span>
                                    <span class="popular-badge d-none"></span>
                                </div>
                                <h5 class="pricing-item__title mb-0 mt-2">Premium Plan</h5>
                            </div>
                            <div class="pricing-item__content">
                                <h3 class="pricing-item__price mb-2"> $1999.00 <span
                                        class="text font-14 text-body font-body fw-400">/Per Month</span> </h3>
                                <p class="pricing-item__desc">Essential services to start your journey</p>
                                <a href="#" class="btn btn-outline-light btn-lg pill w-100">Get Started</a>
                            </div>
                            <div class="pricing-item__lists">
                                <ul class="text-list">
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Up to 30 members
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Collaboration
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Project management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Case management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Process management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Workflow management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Team management
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-yearly" role="tabpanel" aria-labelledby="pills-yearly-tab"
                tabindex="0">
                <div class="row gy-4">
                    <div class="col-lg-4 col-sm-6">
                        <div class="pricing-item box-shadow-lg hover-bg-main">
                            <img src="{% static 'assets/images/gradients/price-hover-bg.png' %}" alt="" class="hover-bg">
                            <div class="pricing-item__top">
                                <div class="flx-between flex-nowrap">
                                    <span class="pricing-item__icon">
                                        <img src="{% static 'assets/images/icons/price-icon1.svg' %}" alt="">
                                    </span>
                                    <span class="popular-badge d-none"></span>
                                </div>
                                <h5 class="pricing-item__title mb-0 mt-2">Basic Plan</h5>
                            </div>
                            <div class="pricing-item__content">
                                <h3 class="pricing-item__price mb-2"> $1599.00 <span
                                        class="text font-14 text-body font-body fw-400">/Per Month</span> </h3>
                                <p class="pricing-item__desc">Essential services to start your journey</p>
                                <a href="#" class="btn btn-outline-light btn-lg pill w-100">Get Started</a>
                            </div>
                            <div class="pricing-item__lists">
                                <ul class="text-list">
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Up to 30 members
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Collaboration
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Project management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Case management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Process management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Workflow management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Team management
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="pricing-item box-shadow-lg hover-bg-main">
                            <img src="{% static 'assets/images/gradients/price-hover-bg.png' %}" alt="" class="hover-bg">
                            <div class="pricing-item__top">
                                <div class="flx-between flex-nowrap">
                                    <span class="pricing-item__icon">
                                        <img src="{% static 'assets/images/icons/price-icon2.svg' %}" alt="">
                                    </span>
                                    <span class="popular-badge ">Most Popular</span>
                                </div>
                                <h5 class="pricing-item__title mb-0 mt-2">Standard Plan</h5>
                            </div>
                            <div class="pricing-item__content">
                                <h3 class="pricing-item__price mb-2"> $1799.00 <span
                                        class="text font-14 text-body font-body fw-400">/Per Month</span> </h3>
                                <p class="pricing-item__desc">Essential services to start your journey</p>
                                <a href="#" class="btn btn-outline-light btn-lg pill w-100">Get Started</a>
                            </div>
                            <div class="pricing-item__lists">
                                <ul class="text-list">
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Up to 30 members
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Collaboration
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Project management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Case management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Process management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Workflow management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Team management
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="pricing-item box-shadow-lg hover-bg-main">
                            <img src="{% static 'assets/images/gradients/price-hover-bg.png' %}" alt="" class="hover-bg">
                            <div class="pricing-item__top">
                                <div class="flx-between flex-nowrap">
                                    <span class="pricing-item__icon">
                                        <img src="{% static 'assets/images/icons/price-icon3.svg' %}" alt="">
                                    </span>
                                    <span class="popular-badge d-none"></span>
                                </div>
                                <h5 class="pricing-item__title mb-0 mt-2">Premium Plan</h5>
                            </div>
                            <div class="pricing-item__content">
                                <h3 class="pricing-item__price mb-2"> $1999.00 <span
                                        class="text font-14 text-body font-body fw-400">/Per Month</span> </h3>
                                <p class="pricing-item__desc">Essential services to start your journey</p>
                                <a href="#" class="btn btn-outline-light btn-lg pill w-100">Get Started</a>
                            </div>
                            <div class="pricing-item__lists">
                                <ul class="text-list">
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Up to 30 members
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Collaboration
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Project management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Case management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Process management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Workflow management
                                    </li>
                                    <li class="text-list__item text-heading">
                                        <span class="icon"><i class="fas fa-check"></i></span>
                                        Team management
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ========================= Pricing Plan Section End ============================ -->