{% load static %}
<!-- ========================= Resource Section Start =========================== -->
<section class="resource  padding-y-120 section-bg position-relative z-index-1 overflow-hidden">

    <img src="{% static 'assets/images/shapes/element-moon3.png' %}" alt="" class="element one">
    <img src="{% static 'assets/images/shapes/curve-pattern3.png' %}" alt="" class="d-none position-absolute end-0 top-0 z-index--1">

    <div class="container container-two">
        <div class="section-heading style-left style-flex flx-between align-items-end gap-3">
            <div class="section-heading__inner w-lg">
                <h3 class="section-heading__title">Free Resources</h3>
                <p class="section-heading__desc">Every month we pick some best products for you. This month's best
                    web themes &amp; templates have arrived, chosen by our content specialists.</p>
            </div>
            <a href="#" class="btn btn-main btn-lg pill">View All Items</a>
        </div>
        <div class="resource-slider gy-4">
            <div class="product-item shadow-sm">
                <div class="product-item__thumb d-flex">
                    <a href="#"  {# TODO: Update with product detail URL #} class="link w-100">
                        <img src="{% static 'assets/images/thumbs/product-img1.png' %}" alt="" class="cover-img">
                    </a>
                    <button type="button" class="product-item__wishlist"><i class="fas fa-heart"></i></button>
                </div>
                <div class="product-item__content">
                    <h6 class="product-item__title">
                        <a href="#"  {# TODO: Update with product detail URL #} class="link">SaaS dashboard digital products Title here</a>
                    </h6>
                    <div class="product-item__info flx-between gap-2">
                        <span class="product-item__author">
                            by
                            <a href="#"  {# TODO: Update with profile URL #} class="link hover-text-decoration-underline"> themepix</a>
                        </span>
                        <div class="flx-align gap-2">
                            <h6 class="product-item__price mb-0">$120</h6>
                            <span class="product-item__prevPrice text-decoration-line-through">$259</span>
                        </div>
                    </div>
                    <div class="product-item__bottom flx-between gap-2">
                        <div>
                            <span class="product-item__sales font-14 mb-2">1200 Sales</span>
                            <div class="d-flex align-items-center gap-1">
                                <ul class="star-rating">
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                </ul>
                                <span class="star-rating__text text-heading fw-500 font-14"> (16)</span>
                            </div>
                        </div>
                        <a href="#"  {# TODO: Update with product detail URL #} class="btn btn-outline-light btn-sm pill">Live Demo</a>
                    </div>
                </div>
            </div>
            <div class="product-item shadow-sm">
                <div class="product-item__thumb d-flex">
                    <a href="#"  {# TODO: Update with product detail URL #} class="link w-100">
                        <img src="{% static 'assets/images/thumbs/product-img2.png' %}" alt="" class="cover-img">
                    </a>
                    <button type="button" class="product-item__wishlist"><i class="fas fa-heart"></i></button>
                </div>
                <div class="product-item__content">
                    <h6 class="product-item__title">
                        <a href="#"  {# TODO: Update with product detail URL #} class="link">SaaS dashboard digital products Title here</a>
                    </h6>
                    <div class="product-item__info flx-between gap-2">
                        <span class="product-item__author">
                            by
                            <a href="#"  {# TODO: Update with profile URL #} class="link hover-text-decoration-underline"> themepix</a>
                        </span>
                        <div class="flx-align gap-2">
                            <h6 class="product-item__price mb-0">$100</h6>
                            <span class="product-item__prevPrice text-decoration-line-through">$130</span>
                        </div>
                    </div>
                    <div class="product-item__bottom flx-between gap-2">
                        <div>
                            <span class="product-item__sales font-14 mb-2">952 Sales</span>
                            <div class="d-flex align-items-center gap-1">
                                <ul class="star-rating">
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                </ul>
                                <span class="star-rating__text text-heading fw-500 font-14"> (16)</span>
                            </div>
                        </div>
                        <a href="#"  {# TODO: Update with product detail URL #} class="btn btn-outline-light btn-sm pill">Live Demo</a>
                    </div>
                </div>
            </div>
            <div class="product-item shadow-sm">
                <div class="product-item__thumb d-flex">
                    <a href="#"  {# TODO: Update with product detail URL #} class="link w-100">
                        <img src="{% static 'assets/images/thumbs/product-img3.png' %}" alt="" class="cover-img">
                    </a>
                    <button type="button" class="product-item__wishlist"><i class="fas fa-heart"></i></button>
                </div>
                <div class="product-item__content">
                    <h6 class="product-item__title">
                        <a href="#"  {# TODO: Update with product detail URL #} class="link">SaaS dashboard digital products Title here</a>
                    </h6>
                    <div class="product-item__info flx-between gap-2">
                        <span class="product-item__author">
                            by
                            <a href="#"  {# TODO: Update with profile URL #} class="link hover-text-decoration-underline"> themepix</a>
                        </span>
                        <div class="flx-align gap-2">
                            <h6 class="product-item__price mb-0">$160</h6>
                            <span class="product-item__prevPrice text-decoration-line-through">$000</span>
                        </div>
                    </div>
                    <div class="product-item__bottom flx-between gap-2">
                        <div>
                            <span class="product-item__sales font-14 mb-2">1000 Sales</span>
                            <div class="d-flex align-items-center gap-1">
                                <ul class="star-rating">
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                </ul>
                                <span class="star-rating__text text-heading fw-500 font-14"> (16)</span>
                            </div>
                        </div>
                        <a href="#"  {# TODO: Update with product detail URL #} class="btn btn-outline-light btn-sm pill">Live Demo</a>
                    </div>
                </div>
            </div>
            <div class="product-item shadow-sm">
                <div class="product-item__thumb d-flex">
                    <a href="#"  {# TODO: Update with product detail URL #} class="link w-100">
                        <img src="{% static 'assets/images/thumbs/product-img4.png' %}" alt="" class="cover-img">
                    </a>
                    <button type="button" class="product-item__wishlist"><i class="fas fa-heart"></i></button>
                </div>
                <div class="product-item__content">
                    <h6 class="product-item__title">
                        <a href="#"  {# TODO: Update with product detail URL #} class="link">SaaS dashboard digital products Title here</a>
                    </h6>
                    <div class="product-item__info flx-between gap-2">
                        <span class="product-item__author">
                            by
                            <a href="#"  {# TODO: Update with profile URL #} class="link hover-text-decoration-underline"> themepix</a>
                        </span>
                        <div class="flx-align gap-2">
                            <h6 class="product-item__price mb-0">$250</h6>
                            <span class="product-item__prevPrice text-decoration-line-through">$300</span>
                        </div>
                    </div>
                    <div class="product-item__bottom flx-between gap-2">
                        <div>
                            <span class="product-item__sales font-14 mb-2">320 Sales</span>
                            <div class="d-flex align-items-center gap-1">
                                <ul class="star-rating">
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                </ul>
                                <span class="star-rating__text text-heading fw-500 font-14"> (16)</span>
                            </div>
                        </div>
                        <a href="#"  {# TODO: Update with product detail URL #} class="btn btn-outline-light btn-sm pill">Live Demo</a>
                    </div>
                </div>
            </div>
            <div class="product-item shadow-sm">
                <div class="product-item__thumb d-flex">
                    <a href="#"  {# TODO: Update with product detail URL #} class="link w-100">
                        <img src="{% static 'assets/images/thumbs/product-img5.png' %}" alt="" class="cover-img">
                    </a>
                    <button type="button" class="product-item__wishlist"><i class="fas fa-heart"></i></button>
                </div>
                <div class="product-item__content">
                    <h6 class="product-item__title">
                        <a href="#"  {# TODO: Update with product detail URL #} class="link">SaaS dashboard digital products Title here</a>
                    </h6>
                    <div class="product-item__info flx-between gap-2">
                        <span class="product-item__author">
                            by
                            <a href="#"  {# TODO: Update with profile URL #} class="link hover-text-decoration-underline"> themepix</a>
                        </span>
                        <div class="flx-align gap-2">
                            <h6 class="product-item__price mb-0">$65</h6>
                            <span class="product-item__prevPrice text-decoration-line-through">$85</span>
                        </div>
                    </div>
                    <div class="product-item__bottom flx-between gap-2">
                        <div>
                            <span class="product-item__sales font-14 mb-2">1001 Sales</span>
                            <div class="d-flex align-items-center gap-1">
                                <ul class="star-rating">
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                </ul>
                                <span class="star-rating__text text-heading fw-500 font-14"> (16)</span>
                            </div>
                        </div>
                        <a href="#"  {# TODO: Update with product detail URL #} class="btn btn-outline-light btn-sm pill">Live Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Resource Section End =========================== -->