{% load static %}
﻿    <!-- ======================= Selling Products Start ========================= -->
    <section class="selling-product padding-y-120 position-relative z-index-1 overflow-hidden">
        <img src="{% static 'assets/images/gradients/selling-gradient.png' %}" alt="" class="bg--gradient">

        <img src="{% static 'assets/images/shapes/element2.png' %}" alt="" class="element one">
        <img src="{% static 'assets/images/shapes/element1.png' %}" alt="" class="element two">

        <img src="{% static 'assets/images/shapes/curve-pattern1.png' %}" alt="" class="position-absolute start-0 top-0 z-index--1">
        <img src="{% static 'assets/images/shapes/curve-pattern2.png' %}" alt="" class="position-absolute end-0 top-0 z-index--1">

        <div class="container container-two">
            <div class="section-heading style-left style-white flx-between max-w-unset gap-4">
                <div>
                    <h3 class="section-heading__title">Featured Products</h3>
                    <p class="section-heading__desc font-18">Every month we pick some best products for you. This
                        month's best web themes &amp; templates have arrived, chosen by our content specialists.</p>
                </div>
                <a href="#"  {# TODO: Update with products URL #} class="btn btn-main btn-lg pill fw-300">
                    View All Items
                </a>
            </div>
            <div class="selling-product-slider">
                <div class="product-item shadow-sm overlay-none">
                    <div class="product-item__thumb d-flex max-h-unset">
                        <a href="#"  {# TODO: Update with product detail URL #} class="link w-100">
                            <img src="{% static 'assets/images/thumbs/product-img12.png' %}" alt="" class="cover-img">
                        </a>
                    </div>
                    <div class="product-item__content">
                        <h6 class="product-item__title">
                            <a href="#"  {# TODO: Update with product detail URL #} class="link">Title here digital products new marketplace
                                theme</a>
                        </h6>
                        <div class="product-item__info flx-between gap-2">
                            <span class="product-item__author">
                                by
                                <a href="#"  {# TODO: Update with profile URL #} class="link hover-text-decoration-underline"> themepix</a>
                            </span>
                            <div class="flx-align gap-2">
                                <h6 class="product-item__price mb-0">$56</h6>
                                <span class="product-item__prevPrice text-decoration-line-through">$65</span>
                            </div>
                        </div>
                        <div class="product-item__bottom flx-between gap-2">
                            <div>
                                <span class="product-item__sales font-16 mb-2">1230 Sales</span>
                                <ul class="star-rating gap-2">
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="flx-align gap-2">
                                <a href="#"  {# TODO: Update with product detail URL #}
                                    class="btn btn-outline-light download-icon btn-icon btn-icon--sm pill">
                                    <span class="icon">
                                        <img src="{% static 'assets/images/icons/download.svg' %}" alt="" class="white-version">
                                        <img src="{% static 'assets/images/icons/download-white.svg' %}" alt="" class="dark-version">
                                    </span>
                                </a>
                                <a href="#"  {# TODO: Update with product detail URL #} class="btn btn-outline-light pill">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item shadow-sm overlay-none">
                    <div class="product-item__thumb d-flex max-h-unset">
                        <a href="#"  {# TODO: Update with product detail URL #} class="link w-100">
                            <img src="{% static 'assets/images/thumbs/product-img13.png' %}" alt="" class="cover-img">
                        </a>
                    </div>
                    <div class="product-item__content">
                        <h6 class="product-item__title">
                            <a href="#"  {# TODO: Update with product detail URL #} class="link">Title here digital products new marketplace
                                theme</a>
                        </h6>
                        <div class="product-item__info flx-between gap-2">
                            <span class="product-item__author">
                                by
                                <a href="#"  {# TODO: Update with profile URL #} class="link hover-text-decoration-underline"> themepix</a>
                            </span>
                            <div class="flx-align gap-2">
                                <h6 class="product-item__price mb-0">$32</h6>
                                <span class="product-item__prevPrice text-decoration-line-through">$40</span>
                            </div>
                        </div>
                        <div class="product-item__bottom flx-between gap-2">
                            <div>
                                <span class="product-item__sales font-16 mb-2">1230 Sales</span>
                                <ul class="star-rating gap-2">
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="flx-align gap-2">
                                <a href="#"  {# TODO: Update with product detail URL #}
                                    class="btn btn-outline-light download-icon btn-icon btn-icon--sm pill">
                                    <span class="icon">
                                        <img src="{% static 'assets/images/icons/download.svg' %}" alt="" class="white-version">
                                        <img src="{% static 'assets/images/icons/download-white.svg' %}" alt="" class="dark-version">
                                    </span>
                                </a>
                                <a href="#"  {# TODO: Update with product detail URL #} class="btn btn-outline-light pill">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item shadow-sm overlay-none">
                    <div class="product-item__thumb d-flex max-h-unset">
                        <a href="#"  {# TODO: Update with product detail URL #} class="link w-100">
                            <img src="{% static 'assets/images/thumbs/product-img14.png' %}" alt="" class="cover-img">
                        </a>
                    </div>
                    <div class="product-item__content">
                        <h6 class="product-item__title">
                            <a href="#"  {# TODO: Update with product detail URL #} class="link">Title here digital products new marketplace
                                theme</a>
                        </h6>
                        <div class="product-item__info flx-between gap-2">
                            <span class="product-item__author">
                                by
                                <a href="#"  {# TODO: Update with profile URL #} class="link hover-text-decoration-underline"> themepix</a>
                            </span>
                            <div class="flx-align gap-2">
                                <h6 class="product-item__price mb-0">$90</h6>
                                <span class="product-item__prevPrice text-decoration-line-through">$120</span>
                            </div>
                        </div>
                        <div class="product-item__bottom flx-between gap-2">
                            <div>
                                <span class="product-item__sales font-16 mb-2">1230 Sales</span>
                                <ul class="star-rating gap-2">
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="flx-align gap-2">
                                <a href="#"  {# TODO: Update with product detail URL #}
                                    class="btn btn-outline-light download-icon btn-icon btn-icon--sm pill">
                                    <span class="icon">
                                        <img src="{% static 'assets/images/icons/download.svg' %}" alt="" class="white-version">
                                        <img src="{% static 'assets/images/icons/download-white.svg' %}" alt="" class="dark-version">
                                    </span>
                                </a>
                                <a href="#"  {# TODO: Update with product detail URL #} class="btn btn-outline-light pill">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item shadow-sm overlay-none">
                    <div class="product-item__thumb d-flex max-h-unset">
                        <a href="#"  {# TODO: Update with product detail URL #} class="link w-100">
                            <img src="{% static 'assets/images/thumbs/product-img13.png' %}" alt="" class="cover-img">
                        </a>
                    </div>
                    <div class="product-item__content">
                        <h6 class="product-item__title">
                            <a href="#"  {# TODO: Update with product detail URL #} class="link">Title here digital products new marketplace
                                theme</a>
                        </h6>
                        <div class="product-item__info flx-between gap-2">
                            <span class="product-item__author">
                                by
                                <a href="#"  {# TODO: Update with profile URL #} class="link hover-text-decoration-underline"> themepix</a>
                            </span>
                            <div class="flx-align gap-2">
                                <h6 class="product-item__price mb-0">$56</h6>
                                <span class="product-item__prevPrice text-decoration-line-through">$54</span>
                            </div>
                        </div>
                        <div class="product-item__bottom flx-between gap-2">
                            <div>
                                <span class="product-item__sales font-16 mb-2">1230 Sales</span>
                                <ul class="star-rating gap-2">
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                    <li class="star-rating__item font-16"><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="flx-align gap-2">
                                <a href="#"  {# TODO: Update with product detail URL #}
                                    class="btn btn-outline-light download-icon btn-icon btn-icon--sm pill">
                                    <span class="icon">
                                        <img src="{% static 'assets/images/icons/download.svg' %}" alt="" class="white-version">
                                        <img src="{% static 'assets/images/icons/download-white.svg' %}" alt="" class="dark-version">
                                    </span>
                                </a>
                                <a href="#"  {# TODO: Update with product detail URL #} class="btn btn-outline-light pill">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================= Selling Products End ========================= -->

