{% load static %}
<!-- ======================== Service Section Start ========================== -->
<section class="service padding-y-120 position-relative z-index-1 overflow-hidden">
    <img src="{% static 'assets/images/shapes/curve-pattern3.png' %}" alt="" class="position-absolute end-0 top-0 z-index--1">
    <img src="{% static 'assets/images/shapes/element1.png' %}" alt="" class="element two">
    <div class="container container-two">
        <div class="section-heading style-left style-flex flx-between align-items-end gap-3">
            <div class="section-heading__inner w-lg">
                <h3 class="section-heading__title">Best services we provide</h3>
                <p class="section-heading__desc">Every month we pick some best products for you. This month's best
                    web themes & templates have arrived, chosen by our content specialists.</p>
            </div>
            <a href="#" class="btn btn-main btn-lg pill">See All Services</a>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6 col-xs-6">
                <div class="service-item hover-bg-main">
                    <img src="{% static 'assets/images/gradients/service-hover-bg.png' %}" alt="" class="hover-bg white-version">
                    <img src="{% static 'assets/images/gradients/service-hover-bg-dark.png' %}" alt="" class="hover-bg dark-version">
                    <span class="service-item__icon">
                        <img src="{% static 'assets/images/icons/service-icon1.svg' %}" alt="">
                    </span>
                    <h5 class="service-item__title my-3">Website Design & Development</h5>
                    <p class="service-item__desc">We help companies communicate with customers more effectively and
                        efficiently. Help is a conversational customer support.</p>
                    <a href="#" class="btn-simple">Read More <span class="icon"><i
                                class="las la-arrow-right"></i></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-6">
                <div class="service-item hover-bg-main">
                    <img src="{% static 'assets/images/gradients/service-hover-bg.png' %}" alt="" class="hover-bg white-version">
                    <img src="{% static 'assets/images/gradients/service-hover-bg-dark.png' %}" alt="" class="hover-bg dark-version">
                    <span class="service-item__icon">
                        <img src="{% static 'assets/images/icons/service-icon2.svg' %}" alt="">
                    </span>
                    <h5 class="service-item__title my-3">Management Systems Development</h5>
                    <p class="service-item__desc">We help companies communicate with customers more effectively and
                        efficiently. Help is a conversational customer support.</p>
                    <a href="#" class="btn-simple">Read More <span class="icon"><i
                                class="las la-arrow-right"></i></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-6">
                <div class="service-item hover-bg-main">
                    <img src="{% static 'assets/images/gradients/service-hover-bg.png' %}" alt="" class="hover-bg white-version">
                    <img src="{% static 'assets/images/gradients/service-hover-bg-dark.png' %}" alt="" class="hover-bg dark-version">
                    <span class="service-item__icon">
                        <img src="{% static 'assets/images/icons/service-icon3.svg' %}" alt="">
                    </span>
                    <h5 class="service-item__title my-3">Digital Marketing & Video Editing</h5>
                    <p class="service-item__desc">We help companies communicate with customers more effectively and
                        efficiently. Help is a conversational customer support.</p>
                    <a href="#" class="btn-simple">Read More <span class="icon"><i
                                class="las la-arrow-right"></i></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-6">
                <div class="service-item hover-bg-main">
                    <img src="{% static 'assets/images/gradients/service-hover-bg.png' %}" alt="" class="hover-bg white-version">
                    <img src="{% static 'assets/images/gradients/service-hover-bg-dark.png' %}" alt="" class="hover-bg dark-version">
                    <span class="service-item__icon">
                        <img src="{% static 'assets/images/icons/service-icon4.svg' %}" alt="">
                    </span>
                    <h5 class="service-item__title my-3">Graphic Design & UI/UX</h5>
                    <p class="service-item__desc">We help companies communicate with customers more effectively and
                        efficiently. Help is a conversational customer support.</p>
                    <a href="#" class="btn-simple">Read More <span class="icon"><i
                                class="las la-arrow-right"></i></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-6">
                <div class="service-item hover-bg-main">
                    <img src="{% static 'assets/images/gradients/service-hover-bg.png' %}" alt="" class="hover-bg white-version">
                    <img src="{% static 'assets/images/gradients/service-hover-bg-dark.png' %}" alt="" class="hover-bg dark-version">
                    <span class="service-item__icon">
                        <img src="{% static 'assets/images/icons/service-icon5.svg' %}" alt="">
                    </span>
                    <h5 class="service-item__title my-3">Blockchain Crypto web3 Development</h5>
                    <p class="service-item__desc">We help companies communicate with customers more effectively and
                        efficiently. Help is a conversational customer support.</p>
                    <a href="#" class="btn-simple">Read More <span class="icon"><i
                                class="las la-arrow-right"></i></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-6">
                <div class="service-item hover-bg-main">
                    <img src="{% static 'assets/images/gradients/service-hover-bg.png' %}" alt="" class="hover-bg white-version">
                    <img src="{% static 'assets/images/gradients/service-hover-bg-dark.png' %}" alt="" class="hover-bg dark-version">
                    <span class="service-item__icon">
                        <img src="{% static 'assets/images/icons/service-icon6.svg' %}" alt="">
                    </span>
                    <h5 class="service-item__title my-3">Content Creation & SEO</h5>
                    <p class="service-item__desc">We help companies communicate with customers more effectively and
                        efficiently. Help is a conversational customer support.</p>
                    <a href="#" class="btn-simple">Read More <span class="icon"><i
                                class="las la-arrow-right"></i></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Service Section End ========================== -->