{% load static %}
<!-- ======================= Testimonial Section Start ============================ -->
<section class="testimonial padding-y-120 position-relative section-bg overflow-hidden">

    <img src="{% static 'assets/images/shapes/brush.png' %}" alt="" class="element-brush">

    <div class="container container-two">
        <div class="section-heading style-left style-flex flx-between align-items-end gap-3">
            <div class="section-heading__inner w-lg">
                <h3 class="section-heading__title">Clients Feedback</h3>
            </div>
            <a href="#" class="btn btn-main btn-lg pill">More Feedback</a>
        </div>
        <div class="testimonial-slider">
            <div class="testimonial-item hover-bg-main">
                <img src="{% static 'assets/images/gradients/testimonial-bg.png' %}" alt="" class="hover-bg white-version">
                <img src="{% static 'assets/images/gradients/testimonial-bg.png' %}" alt="" class="hover-bg dark-version">
                <div class="testimonial-item__rating mb-3">
                    <ul class="star-rating">
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                    </ul>
                </div>
                <p class="testimonial-item__desc">"Great quality products - Flags, programs for exceptional
                    capacities, birthday, and occasion welcome are largely still mainstream on paper."</p>
                <div class="testimonial-item__quote">
                    <img src="{% static 'assets/images/icons/quote.svg' %}" alt="" class="quote quote-white">
                    <img src="{% static 'assets/images/icons/quote-dark.svg' %}" alt="" class="quote quote-dark">
                </div>
                <div class="client-info d-flex align-items-center gap-3">
                    <div class="client-info__thumb">
                        <img src="{% static 'assets/images/thumbs/client1.png' %}" alt="">
                    </div>
                    <div class="client-info__content">
                        <h5 class="client-info__name mb-2">Michel John</h5>
                        <span class="client-info__designation text-heading fw-500">Market Expert</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item hover-bg-main">
                <img src="{% static 'assets/images/gradients/testimonial-bg.png' %}" alt="" class="hover-bg white-version">
                <img src="{% static 'assets/images/gradients/testimonial-bg.png' %}" alt="" class="hover-bg dark-version">
                <div class="testimonial-item__rating mb-3">
                    <ul class="star-rating">
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                    </ul>
                </div>
                <p class="testimonial-item__desc">"Great quality products - Flags, programs for exceptional
                    capacities, birthday, and occasion welcome are largely still mainstream on paper."</p>
                <div class="testimonial-item__quote">
                    <img src="{% static 'assets/images/icons/quote.svg' %}" alt="" class="quote quote-white">
                    <img src="{% static 'assets/images/icons/quote-dark.svg' %}" alt="" class="quote quote-dark">
                </div>
                <div class="client-info d-flex align-items-center gap-3">
                    <div class="client-info__thumb">
                        <img src="{% static 'assets/images/thumbs/client2.png' %}" alt="">
                    </div>
                    <div class="client-info__content">
                        <h5 class="client-info__name mb-2">Ralph Edwards</h5>
                        <span class="client-info__designation text-heading fw-500">Analytis</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item hover-bg-main">
                <img src="{% static 'assets/images/gradients/testimonial-bg.png' %}" alt="" class="hover-bg white-version">
                <img src="{% static 'assets/images/gradients/testimonial-bg.png' %}" alt="" class="hover-bg dark-version">
                <div class="testimonial-item__rating mb-3">
                    <ul class="star-rating">
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                        <li class="star-rating__item"><i class="fas fa-star"></i></li>
                    </ul>
                </div>
                <p class="testimonial-item__desc">"Great quality products - Flags, programs for exceptional
                    capacities, birthday, and occasion welcome are largely still mainstream on paper."</p>
                <div class="testimonial-item__quote">
                    <img src="{% static 'assets/images/icons/quote.svg' %}" alt="" class="quote quote-white">
                    <img src="{% static 'assets/images/icons/quote-dark.svg' %}" alt="" class="quote quote-dark">
                </div>
                <div class="client-info d-flex align-items-center gap-3">
                    <div class="client-info__thumb">
                        <img src="{% static 'assets/images/thumbs/client3.png' %}" alt="">
                    </div>
                    <div class="client-info__content">
                        <h5 class="client-info__name mb-2">Jacob Jones</h5>
                        <span class="client-info__designation text-heading fw-500">Market Expert</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Testimonial Section End ============================ -->