/* ================================= Classes Css Start =========================== */
@media (min-width: 1199px) {
    .container-full {
        max-width: 1792px;
    }
}

@media (min-width: 1199px) {
    .container-two {
        max-width: 1296px;
    }
}

@media (min-width: 1199px) {
    .container-three {
        max-width: 1590px;
    }
}
/* Section Background */
.section-bg {
    background-color: hsl(var(--section-bg)) !important;
}

.sales-offer-bg-two {
    background: linear-gradient(117deg, #F3FEFF 14.35%, #DACFFF 84.4%) !important;
}

.box-shadow {
    box-shadow: var(--box-shadow) !important;
}

.box-shadow-lg {
    box-shadow: var(--box-shadow-lg) !important;
}

.max-h-unset {
    max-height: unset !important;
}

.max-w-unset {
    max-width: unset !important;
}

.w-20 {
    width: 20px;
}

.min-w-maxContent {
    min-width: max-content;
}

.cursor-pointer {
    cursor: pointer;
}

.z-index-1 {
    z-index: 1;
}

.z-index--1 {
    z-index: -1;
}

.bg-white {
    background-color: hsl(var(--white)) !important;
}

.bg-main {
    background-color: hsl(var(--main)) !important;
}

.bg-black {
    background-color: hsl(var(--black)) !important;
}

.bg-static-black {
    background-color: hsl(var(--static-black)) !important;
}

.bg-black-two {
    background-color: hsl(var(--black-two)) !important;
}

.bg-black-three {
    background-color: hsl(var(--black-three)) !important;
}

.bg-gray-seven {
    background-color: hsl(var(--gray-seven)) !important;
}

/* Border Color */
.border {
    border: 1px solid hsl(var(--border-color)) !important;
}

.border:focus {
    border: 1px solid hsl(var(--main)) !important;
}

.border-main {
    border-color: hsl(var(--main)) !important;
}

.border-color {
    border-color: hsl(var(--border-color));
}

.border-black {
    border-color: hsl(var(--black)) !important;
}

.border-gray-five {
    border-color: hsl(var(--gray-five)) !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.left-auto {
    left: auto !important;
}

/* Text Color */
.text-heading {
    color: hsl(var(--heading-color)) !important;
}

.text-body {
    color: hsl(var(--body-color)) !important;
}

.text-main {
    color: hsl(var(--main)) !important;
}

.hover-text-heading:hover {
    color: hsl(var(--heading-color)) !important;
}

.hover-text-body:hover {
    color: hsl(var(--body-color)) !important;
}

.hover-text-main:hover {
    color: hsl(var(--main)) !important;
}

.hover-text-decoration-underline:hover {
    text-decoration: underline;
}

.font-heading {
    font-family: var(--heading-font);
}

.font-body {
    font-family: var(--body-font);
}

.pill {
    border-radius: 40px !important;
}

.radius-8 {
    border-radius: 8px !important;
}

.line-height-0 {
    line-height: 0;
}

.line-height-1 {
    line-height: 1;
}

/* Column Extra Small Screen */
@media screen and (min-width: 425px) and (max-width: 575px) {
    .col-xs-6 {
        width: 50%;
    }
}
/* Bg Image Css */
.background-img {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    width: 100%;
    height: 100%;
}

/* Hide Scroll bar Css For Custom Modal */
.scroll-hide {
    position: absolute;
    overflow-y: hidden;
    padding-right: 17px;
    top: 0;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .scroll-hide {
        padding-right: 0;
    }
}

.scroll-hide-sm {
    position: absolute;
    overflow-y: hidden;
    top: 0;
    left: 0;
    width: calc(100% - 0px);
}

/* Overlay Start */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background-color: hsl(var(--static-black)/0.8);
    z-index: 99;
    transition: 0.2s linear;
    visibility: hidden;
    opacity: 0;
}

.overlay.show-overlay {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 991px) {
    .side-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        content: "";
        left: 0;
        top: 0;
        background-color: hsl(var(--static-black)/0.8);
        z-index: 99;
        transition: 0.2s linear;
        visibility: hidden;
        opacity: 0;
    }

    .side-overlay.show {
        visibility: visible;
        opacity: 1;
    }
}
/* Overlay End */
/* ================================= Classes Css End =========================== */
